* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: bisque;
  color: black;
}

#links {
  display: flex;
  gap: 2rem;
}

#about {
  padding: 30vh;
  background-color: burlywood;
}

#projects {
  padding: 30vh;
  background-color: darkgoldenrod;
}

#skills {
  padding: 30vh;
  background-color: rgb(51, 0, 0);
  color: white;
}

footer {
  background-color: rgb(35, 33, 33);
  color: White;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: pink;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: black;
  color: white;
  padding: 50px;
  width: 500px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  position: relative;
}

.closebtn {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  top: 0;
  right: 0;
}

.closebtn:hover {
  background-color: gray;
}

@media (max-width: 1200px) {
  body {
    background-color: yellow;
  }
}

@media (max-width: 768px) {
  body {
    background-color: greenyellow;
  }
}

@media (max-width: 375px) {
  body {
    background-color: blue;
  }
}
#logo {
  text-decoration: none;
}
