* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f0fff1;
}

header {
  padding: 10px;
}

div.header {
  max-width: 960px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0fff1;
}

/* h1#logo {   TP SEE HOW MUCH SPACE IS BEING OCCUPIED
  background-color: red;
} */

#links {
  display: flex;
  gap: 2rem;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}
#about {
  margin: auto;
  background-color: #c2f9cb;
  padding: 100px;
}

.aboutDiv {
  max-width: 960px;
  /* background-color: red; */
  margin: auto;
}

#projects {
  margin: auto;
  background-color: #b3e9c7;
  padding: 100px;
}

.projectsDiv {
  max-width: 960px;
  /* background-color: red; */
  margin: auto;
}

#skills {
  margin: auto;
  background-color: #8367c7;
  padding: 200px;
}

.skillsDiv {
  margin: auto;
  max-width: 960px;
}

p {
  margin-bottom: 1.5em;
}

footer {
  background-color: #5603ad;
  padding: 10px;
}

div.footer {
  max-width: 960px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5603ad;
}

.btn {
  background-color: #f0fff1;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: black;
  color: white;
  padding: 50px;
  width: 500px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  position: relative;
}

.closebtn {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  top: 0;
  right: 0;
}

.closebtn:hover {
  background-color: gray;
}

@media (max-width: 1200px) {
  body {
    background-color: yellow;
  }
}

@media (max-width: 768px) {
  body {
    background-color: greenyellow;
  }
}

@media (max-width: 375px) {
  body {
    background-color: blue;
  }
}
#logo {
  text-decoration: none;
}

.hidden {
  display: none;
}

/* GALLERY */
.img {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 6 equal columns */
  grid-template-rows: repeat(9, 1fr); /* 9 equal rows */
  gap: 10px; /* Space between images */
  max-width: 960px;
  margin: auto;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

/* Command+Shift+L to selected and edit multiple */
