* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(255, 255, 83);
  padding: 100px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 2;
}
label {
  display: inline-block;
  width: 200px;
}
input {
  font-family: inherit;
  font-size: inherit;
  padding: 10px 5px;
  border-radius: 5px;
  border: 1px solid #eee;
}

div {
  margin: 20px;
}

header,
footer {
  padding: 1 rem 4 rem;
  width: 100%;
}
header .container {
  dispaly: flex;
}

text-transform: uppercase;

this is links:
 display: inline block;
 margin: 1 rem; 
 text-decoration: none;
 a: hover text-decoration: underline;
 